@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Staatliches&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #010B0D;
    margin: 0;
    min-height: 100%;
    color: white;
    max-width: 100%;
    overflow-x: hidden;
}
img {
    width: 100%;
}
/* Style the navigation menu */

.nav { 
    overflow: hidden;
    background-color: #4D4D4D;
    position: relative;
}
/* Style navigation menu links */
.nav a {
    color: white;
    padding: 0 16px;
    text-decoration: none;
    font-size: 26px;    
} 
#main-menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
}
/* Style the hamburger menu */
.icon {
    display: none;    
}
.nav-links {
    display: inline;
}  
/* Add a grey background color on mouse-over */
.nav a:hover {
    color: #7DB9B3;    
}
  
/* Style the active link (or home/logo) */
.active {    
    font-family: 'Staatliches', cursive;
    padding: 0 0 0 .2em;
    color: white;
}
/* Responsive Nav */
@media screen and (max-width: 600px) {
/* Style the navigation menu */

.nav { 
    overflow: hidden;
    background-color: #4D4D4D;
    position: relative;
}
/* Hide the links inside the navigation menu (except for logo/home) */
.nav #main-menu {
    background-color:#6C625D;
    display: none;
    position: relative;
}
  
/* Style navigation menu links */
.nav a {
    color: white;
    padding: 1em 16px;
    text-decoration: none;
    font-size: 26px;
    display: block;
}
 
/* Style the hamburger menu */
.nav a.icon {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
  
}
        
/*Hero IMG*/
.hero-bg {    
    background-image: url('../img/mountain.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    padding-top: 10%;
    color: white;
    text-align: center;
    width: 100%;
}
.wolf {     
    width: 10%;
    height: auto;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.5));
}
.plz-work {
    border-collapse: ;
    background-color: #6C625D;
    width: 100%;
    height: 50px;
    margin-top: 10%;
    padding:0;
}
.plz-work td{
    margin: 0;
    padding: 0;
    padding: 1em 1em 1em 1em;

}
.plz-work td:hover {
    background-color: #7DB9B3;
}
/* Footer*/
#footer {
    background-color: #6C625D;
    margin-top: 2em;    
    position: relative;
    z-index: -1;
}
#footer::before {
    content: "";
    background: transparent url('/img/wolf.png') scroll no-repeat 0 0;
    position: absolute;
    display: block;
    background-size: cover;
    width: 100%;
    height: auto;
    top: 40px;
    left: 40px;
    z-index: 1;
}
.f-content {
    padding: .5em 1.5em .5em 1.5em;
    text-align: center;
    position: relative;
}
.f-c-1 {  
    padding-top: .5em;    
    padding-bottom: .5em;
    border-bottom:1px solid#C4C4C4;
}
.f-c-2 {      
    padding-top: .5em;    
    padding-bottom: .8em;    
}
.f-c-2 img {
    width: 80%;
    height: auto;
}
.f-icons{
    display: table;

}
.f-icons li {
    list-style-type: none;
    display: table-cell;
    text-align: center;
}
.f-icons img {
    width: 50%;
    height: auto;
}
.blue-button {
    display: inline-block;
    font-family: Whitney, "Open Sans", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
    border-radius: 3px;
    cursor: pointer;
    height: 45px;
    width: 250px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #7289da;
    border: 2px solid #7289da;
    color: #fff;
}

h2 {
    font-weight: bold;
    padding-left: 2em;
    display: block;
    font-size: 1.6rem;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
h2::before {
    content: '';
    position: absolute;
    width: 4em;
    background: #7DB9B3;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.8em;
}
/* Youtube Section */
#flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
}
.f-i-2 {
    padding-top: 20px;
    flex: 1;
    text-align: center;
}

.yt {
    padding-left: 10px;
    flex: 1;
    position: relative;
}
.thumbnail {
    width: 100%;
    background-color: #7DB9B3;
    height: 3em;
    box-shadow: 10px 5px 5px black;
    display: block;
    padding: 0 15px 0 15px;
    position: relative;
}

/* Blog Section */
.arcade-bg {
    height: 280px;
    width: auto;
    position: relative;
    
    padding-top: 1em;  
    background-image:url('../img/gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blog{
    text-align: center;
}
.btn-1 {
	margin-top: 10px;
	background-color:#6c625d;
	border-radius:3px;
	border:1px solid #7db9b3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:.5em 1.5em;
	text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
    text-align: center;
    font-size: 2.1rem;
    filter: drop-shadow(5px 5px 4px #7db9b3);
}
.btn-1:hover {
	background-color:#7db9b3;
}
.btn-1:active {
	
	top:1px;
}
.btn-2 {   
        margin-top: 10px;
        background-color:#6c625d;
        border-radius:3px;
        border:1px solid #7db9b3;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:13px;
        padding:5px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #4d3534;
        text-align: center;
        font-size: 1.5rem;
}
.btn-2:hover {
	background-color:#7db9b3;
}
.btn-2:active {
	
	top:1px;
}


@media screen and (min-width: 720px){
    .f-content {
        padding: 1em 1em 1em .8em;
        display: grid;
        grid-column-gap: .5em;
        grid-template-columns: repeat(3, 33%);
    }
    .f-c-1 {
        border-bottom:0;
        border-right: 1px #C4C4C4;
    }
}
